<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('home')}"/>

<div class="container" th:object="${musicList}" style="height: 1000px; margin-top: 20px" >


    <h1 th:text="*{title}"/>
    <h2 th:text="*{memberNickname}"/>
    <h3 th:text="*{price}"/>
    <p th:text="*{localDateTime}"></p>
    <p style="white-space:pre-line"  th:text="*{content}"></p>

    <table th:if="${loginId=='3'}">
        <tr th:each="file : ${fileList}">
           <td>
               <a th:text="${file.originalFilename}" th:href="|/download/${file.id}|"></a>
           </td>
        </tr>
    </table>


    <button th:if="${loginId!=musicList.loginId}" type="button" class="btn btn-primary btn-lg">구매하기</button>
    <button th:if="${loginId==musicList.loginId}" type="button" class="btn btn-primary btn-lg">수정하기</button>
    <button th:if="${loginId!=musicList.loginId}" type="button" class="btn btn-primary btn-lg">장바구니</button>
    <button th:if="${loginId==musicList.loginId}" type="button" class="btn btn-primary btn-lg">삭제하기</button>


</div>

<div th:replace="~{fragments/footer :: footer}"/>

</html>