<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<style>
    .addBtn:hover {
        border-width: thin;
        background-color: cyan;
    }
</style>
<div th:replace="~{fragments/header :: header ('home')}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div class="container" th:object="${musicList}" style="margin-top: 20px">

    <div style="width: 800px">
        <ul style="font-size: large">
            <li>제목 <p th:text="*{title}"></p></li>
            <li>글쓴이 <p th:text="*{member.nickname}"></p></li>
            <li>가격 <p th:text="*{price}"></p></li>
            <li>판매량 <p th:text="*{salesQuantity}"></p></li>
            <li>등록일 <p th:text="*{createTime}"></p></li>
            <li>내용 <p style="white-space: pre-line" th:text="*{content}"></p></li>
            <li th:if="${sellBuyList!=null}">구매일<p th:text="${sellBuyList.createTime}"></p></li>
            <li th:if="${fileList.isEmpty()}">첨부파일 미등록</li>
            <li th:if="${!fileList.isEmpty()}">첨부파일
                <div style="max-height: 160px; overflow: auto">
                    <table th:if="${sellBuyList} or ${#strings.equals(loginId, musicList.member.loginId)}">
                        <tr th:each="list : ${fileList}">
                            <td>
                                <p style="color: blue; text-decoration: underline;  cursor: pointer;"
                                   th:text="${list.originalFilename}"
                                   th:onclick="download([[${list.id}]])"></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>

        </ul>
    </div>


    <div th:if="${sellBuyList==null} and ${!#strings.equals(loginId,musicList.member.loginId)}">
        <button onclick="buyBtnClick()"
                type="button" class="btn btn-primary btn-lg">구매하기
        </button>
        <button onclick="cartBtnClick()"
                type="button" class="btn btn-primary btn-lg">장바구니
        </button>
    </div>

    <div th:if="${sellBuyList!=null}">
        <button type="button" class="btn btn-primary btn-lg">구매한상품입니다</button>
    </div>

    <div th:if="${#strings.equals(loginId,musicList.member.loginId)}">
        <button onclick="updateBtnClick()"
                type="button" class="btn btn-primary btn-lg">수정하기
        </button>
        <button onclick="deleteBtnClick()"
                type="button" class="btn btn-primary btn-lg">삭제하기
        </button>
    </div>

    <div id='buy_div' style="display: none">
        <form style="margin-top: 20px" class="row g-2">
            <h1>구매하시겠습니까</h1>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-primary"
                        onclick="btnBuy()">Yes
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-primary"
                        onclick="btnNo('buy_div')">No
                </button>
            </div>
        </form>
    </div>

    <div id='cart_div' style="display: none">
        <div th:if="${loginId}">
            <form style="margin-top: 20px" method="post" class="row g-2"
                  th:action="@{/cartAdd}" onsubmit="return addCartSubmit()">
                <h1>장바구니담으시겟습니까</h1>
                <div class="col-auto">
                    <button type="submit" th:name="musicListId" th:value="${musicList.id}"
                            class="btn btn-lg btn-primary">Yes
                    </button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-lg btn-primary"
                            onclick="btnNo('cart_div')">No
                    </button>
                </div>
            </form>
        </div>

        <div th:if="${loginId==null}" class="row g-2" style="margin-top: 20px">
            <h1>장바구니담으시겟습니까</h1>
            <div class="col-auto">
                <button type="button" onclick="cartAddBtn()" class="btn btn-lg btn-primary">Yes
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-primary"
                        onclick="btnNo('cart_div')">No
                </button>
            </div>

        </div>


    </div>

    <div id='update_div' style="display: none">
        <form style="margin-top: 20px" method="post" th:action="@{/editMusicList}" class="row g-2">
            <h1>수정하시겠습니까</h1>
            <div class="col-auto">
                <button type="submit" th:name="musicListId" th:value="${musicList.id}"
                        class="btn btn-lg btn-primary">Yes
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-primary"
                        onclick="btnNo('update_div')">No
                </button>
            </div>
        </form>
    </div>

    <div id='delete_div' style="display: none">
        <form style="margin-top: 20px" id="delete_form" method="post" class="row g-2"
              action="/deleteMusicList" onsubmit="return musicListDeleteSubmit()">
            <input type="hidden" th:name="musicListId" th:value="${musicList.id}">
            <h1>삭제하시겟습니까</h1>
            <div class="col-auto">
                <button type="submit" class="btn btn-lg btn-primary">Yes</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-primary"
                        onclick="btnNo('delete_div')">No
                </button>
            </div>

        </form>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
        <button class="btn btn-lg btn-primary" th:text="${'추천 '+ musicList.likeCount}"
                onclick="btnLike()"></button>
    </div>

    <div style="margin-bottom: 20px">
        <button class="btn btn-lg btn-primary" th:text="${'댓글수 '+ commentList.size()}"></button>
    </div>


    <div style="max-width: 800px">
        <div th:each="list : ${commentList}">
            <div th:if="${list.divWidthSize == 0}"
                 style="border-width: 1px 1px 1px 1px; border-style: solid; border-color: brown">
                <div style="display: inline-block; margin-top: 10px; margin-left: 10px;">
                    <p class="fw-bold" th:if="${list.softDelete!=null}">삭제된 댓글 입니다</p>
                    <p class="fw-bold" th:if="${list.softDelete==null}" th:text="${list.member.nickname} + ' 님'"></p>
                </div>

                <div th:if="${list.softDelete==null}" style="display: inline-block; margin-left: 10px;">
                    <p th:text="'['+${list.createTime}+']'"></p>
                </div>

                <div style="float: right; width: 15px;"><br></div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px;">
                    <form>
                        <button type="button" style="border: none" onclick="reply(this, 0)">답글</button>
                        <button type="button" style="border: none; display: none;" th:text="${list.id}"></button>
                    </form>
                </div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px; margin-right: 20px;">
                    <form th:if="${list.member.loginId.equals(loginId)}">
                        <button type="button" style="border: none" onclick="commentEdit(this, 0)">수정</button>
                        <button type="button" style="border: none" onclick="commentDelete(this)">삭제</button>
                        <button type="button" style="display: none" th:text="${list.id}"></button>
                    </form>
                </div>


                <div style="width: 780px; margin-left: 15px;">
                    <p style="white-space: pre-line" th:text="${list.content}"></p>
                </div>
            </div>

            <div th:if="${list.divWidthSize == 1}" style="margin-left: 3%;
          border-width: 1px 1px 1px 1px; border-style: solid; border-color: brown">
                <div style="display: inline-block; margin-top: 10px; margin-left: 10px;">
                    <p class="fw-bold" th:if="${list.softDelete!=null}">삭제된 댓글 입니다</p>
                    <p class="fw-bold" th:if="${list.softDelete==null}" th:text="${list.member.nickname} + ' 님'"></p>
                </div>

                <div th:if="${list.softDelete==null}" style="display: inline-block; margin-left: 10px;">
                    <p th:text="'['+${list.createTime}+']'"></p>
                </div>

                <div style="float: right; width: 15px;"><br></div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px;">
                    <form>
                        <button type="button" style="border: none" onclick="reply(this, 4)">답글</button>
                        <button type="button" style="border: none; display: none;" th:text="${list.id}"></button>
                    </form>
                </div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px; margin-right: 20px;">
                    <form th:if="${list.member.loginId.equals(loginId)}">
                        <button type="button" style="border: none" onclick="commentEdit(this, 4)">수정</button>
                        <button type="button" style="border: none" onclick="commentDelete(this)">삭제</button>
                        <button type="button" style="display: none" th:text="${list.id}"></button>
                    </form>
                </div>


                <div style="width: 780px; margin-left: 15px;">
                    <p style="white-space: pre-line" th:text="${list.content}"></p>
                </div>
            </div>

            <div th:if="${list.divWidthSize == 2}" style="margin-left: 6%;
         border-width: 1px 1px 1px 1px; border-style: solid; border-color: brown">
                <div style="display: inline-block; margin-top: 10px; margin-left: 10px;">
                    <p class="fw-bold" th:if="${list.softDelete!=null}">삭제된 댓글 입니다</p>
                    <p class="fw-bold" th:if="${list.softDelete==null}" th:text="${list.member.nickname} + ' 님'"></p>
                </div>

                <div th:if="${list.softDelete==null}" style="display: inline-block; margin-left: 10px;">
                    <p th:text="'['+${list.createTime}+']'"></p>
                </div>

                <div style="float: right; width: 15px;"><br></div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px;">
                    <form>
                        <button type="button" style="border: none" onclick="reply(this, 8)">답글</button>
                        <button type="button" style="border: none; display: none;" th:text="${list.id}"></button>
                    </form>
                </div>


                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px; margin-right: 20px;">
                    <form th:if="${list.member.loginId.equals(loginId)}">
                        <button type="button" style="border: none" onclick="commentEdit(this, 8)">수정</button>
                        <button type="button" style="border: none" onclick="commentDelete(this)">삭제</button>
                        <button type="button" style="display: none" th:text="${list.id}"></button>
                    </form>
                </div>


                <div style="width: 780px; margin-left: 15px;">
                    <p style="white-space: pre-line" th:text="${list.content}"></p>
                </div>
            </div>

            <div th:if="${list.divWidthSize == 3}" style="margin-left: 9%;
        border-width: 1px 1px 1px 1px; border-style: solid; border-color: brown">
                <div style="display: inline-block; margin-top: 10px; margin-left: 10px;">
                    <p class="fw-bold" th:if="${list.softDelete!=null}">삭제된 댓글 입니다</p>
                    <p class="fw-bold" th:if="${list.softDelete==null}" th:text="${list.member.nickname} + ' 님'"></p>
                </div>

                <div th:if="${list.softDelete==null}" style="display: inline-block; margin-left: 10px;">
                    <p th:text="'['+${list.createTime}+']'"></p>
                </div>

                <div style="float: right; width: 15px;"><br></div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px;">
                    <form>
                        <button type="button" style="border: none" onclick="reply(this, 12)">답글</button>
                        <button type="button" style="border: none; display: none;" th:text="${list.id}"></button>
                    </form>
                </div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px; margin-right: 20px;">
                    <form th:if="${list.member.loginId.equals(loginId)}">
                        <button type="button" style="border: none" onclick="commentEdit(this, 12)">수정</button>
                        <button type="button" style="border: none" onclick="commentDelete(this)">삭제</button>
                        <button type="button" style="display: none" th:text="${list.id}"></button>
                    </form>
                </div>


                <div style="width: 780px; margin-left: 15px;">
                    <p style="white-space: pre-line" th:text="${list.content}"></p>
                </div>
            </div>

            <div th:if="${list.divWidthSize == 4}" style="margin-left: 12%;
         border-width: 1px 1px 1px 1px; border-style: solid; border-color: brown">
                <div style="display: inline-block; margin-top: 10px; margin-left: 10px;">
                    <p class="fw-bold" th:if="${list.softDelete!=null}">삭제된 댓글 입니다</p>
                    <p class="fw-bold" th:if="${list.softDelete==null}" th:text="${list.member.nickname} + ' 님'"></p>
                </div>

                <div th:if="${list.softDelete==null}" style="display: inline-block; margin-left: 10px;">
                    <p th:text="'['+${list.createTime}+']'"></p>
                </div>

                <div style="float: right; width: 15px;"><br></div>

                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px;">
                    <form>
                        <button type="button" style="border: none" onclick="reply(this, 16)">답글</button>
                        <button type="button" style="border: none; display: none;" th:text="${list.id}"></button>
                    </form>
                </div>


                <div th:if="${list.softDelete==null}" style="float: right; margin-top: 9px; margin-right: 20px;">
                    <form th:if="${list.member.loginId.equals(loginId)}">
                        <button type="button" style="border: none" onclick="commentEdit(this, 16)">수정</button>
                        <button type="button" style="border: none" onclick="commentDelete(this)">삭제</button>
                        <button type="button" style="display: none" th:text="${list.id}"></button>
                    </form>
                </div>



                <div style="width: 780px; margin-left: 15px;">
                    <p style="white-space: pre-line" th:text="${list.content}"></p>
                </div>
            </div>
        </div>


        <div style="margin-top: 20px; min-height: 120px;
     border-width: 1px 1px 1px 1px; border-style: solid; border-color: darkred">
            <form method="post" action="/comment" class="row g-1"
                  style="margin-left: 10px; margin-bottom: 10px; max-width: 800px;">
                <p style="margin-top: 10px" class="form-label">댓글 쓰기</p>

                <textarea th:if="${memberCash == -1}" style="width: 90%" class="form-control" onfocus="blur()"
                          rows="3" placeholder="댓글 달려면 로그인 하세요"
                          onclick="loginComment()"></textarea>
                <textarea th:if="${memberCash != -1}" class="form-control" style="width: 90%"
                          id="commentContent" name="commentContent" rows="3"></textarea>

                <button th:if="${memberCash == -1}" type="button" onclick="loginComment()"
                        style="height: 80px; width: 60px; border-width: thin; margin-left: 8px;">등록
                </button>

                <button th:if="${memberCash != -1}" type="button" onclick="addComment(this)"
                        style="height: 80px; width: 50px; border-width: thin; margin-left: 8px;">등록
                </button>

                <input type="hidden" th:name="musicListId" th:value="${musicList.id}">
            </form>
        </div>


        <div id="reply" style="min-height: 120px; display: none;
        border-width: 3px 1px 1px 1px; border-style: solid; border-color: darkred">

            <form id="replyForm" method="post" action="/replyAdd"
                  class="row g-1" style="margin-bottom: 10px; margin-left: 10px; max-width: 800px;">
                <p style="margin-top: 10px" class="form-label">답글 쓰기</p>
                <textarea style="width: 88%" class="form-control" id="replyContent" name="replyContent"
                          rows="3"></textarea>
                <button style="height: 80px; width: 50px; border-width: thin; margin-left: 8px;"
                        type="submit" name="commentAddBtn" onclick="addCommentReply(this)">등록
                </button>

            </form>
        </div>


        <div id="commentEdit" style="min-height: 120px; display: none;
        border-width: 3px 1px 1px 1px; border-style: solid; border-color: darkred">

            <form id="commentEditForm" method="post" action="/commentEdit"
                  class="row g-1" style="margin-bottom: 10px; margin-left: 10px; max-width: 800px;">
                <p style="margin-top: 10px" class="form-label">댓글 수정</p>
                <textarea style="width: 88%" class="form-control"
                          id="commentEditContent" name="commentEditContent" rows="3"></textarea>
                <button style="height: 80px; width: 50px; border-width: thin; margin-left: 8px;"
                        type="submit" name="commentEditBtn" onclick="commentEdit(this)">수정
                </button>

            </form>
        </div>


    </div>


    <div style="margin-top: 227px"></div>

    <div th:replace="~{fragments/footer :: footer}"/>

    <div style="margin-bottom: 130px"></div>

    <script type="text/javascript">

        function commentDelete(obj) {
            const commentId = $(obj).next().text();
            console.log("코멘트아이디 = " + commentId);
            if (confirm("삭제하시겠습니까?")) {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '/commentDelete';
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'commentId'
                input.value = commentId;
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            } else {

            }
        }

        function loginComment() {
            if (confirm("댓글달려면 로그인하시겠습니까")) {
                document.location.href = "/login";
            } else {

            }
        }

        function reply(obj, divSize) {
            const commentEditDiv = document.getElementById('commentEdit');
            commentEditDiv.style.display = 'none';

            console.log("pppp"+$(obj).parent().parent().next().next().next().text());
            const length = $(obj).parent().parent().next().next().next().text().length;
            console.log("iiiii"+length);

            console.log(divSize);
            const memberCash = [[${memberCash}]];
            if (memberCash == -1) {
                if (confirm("답글달려면로그인하시겠습니까")) {
                    document.location.href = "/login";
                    return;
                } else {
                    return;
                }
            }
            //대댓글 div
            const replyDiv = document.getElementById('reply');
            // 답글버튼 누를시 현재 누른 위치 밑에 대댓글Div 가 붙어있는지 체크후 없다면
            // 제일 첫번째 우선순위로 대댓글Div display none 상태로 바꾼다
            // 왜냐하면 1번째 댓글에 답글버튼 클릭하면 바로 밑에 대댓글Div 붙이고 display block 상태인데
            // 2번째 댓글에 답글버튼 클릭하면 1번째 댓글 밑에 대댓글Div display none 상태로 미리 바꿔놔야
            // 1번댓글의 대댓글Div 이동시켜 2번째댓글Div 바로아래로 이동시킨후 block 상태로 변경가능하기때문
            if ($(obj).parent().parent().next().next().next().text().length === 0) {
                console.log("aaa");
                replyDiv.style.display = 'none';
            } else {
                console.log("asd");
            }

            //댓글 div 안에 답글 버튼 클릭시 보여주거나 숨김
            if (replyDiv.style.display === 'none') {
                console.log("ccc");
                //댓글 클릭시 바로 밑으로 이동시킴
                $(obj).parent().parent().parent().append(replyDiv);
                replyDiv.style.display = 'block';
            } else {
                console.log("ddd");
                replyDiv.style.display = 'none';
            }

            console.log("pppp"+$(obj).parent().parent().next().next().next().text());


            const commentId = $(obj).next().text();
            console.log("zz" + commentId);

            const form = document.getElementById('replyForm');
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'commentId';
            input.value = commentId;
            form.append(input);
        }

        function commentEdit(obj, divSize) {
            const replyDiv = document.getElementById('reply');
            replyDiv.style.display = 'none';

            const length = $(obj).parent().parent().next().next().text().length;
            console.log("iiiii"+length);
            console.log(divSize);

            const commentEditDiv = document.getElementById('commentEdit');

            if ($(obj).parent().parent().next().next().text().length === 0) {
                console.log("aaa");
                commentEditDiv.style.display = 'none';
            } else {
                console.log("asd");
            }

            if (commentEditDiv.style.display === 'none') {
                $(obj).parent().parent().parent().append(commentEditDiv);
                console.log("ccc");
                commentEditDiv.style.display = 'block';
            } else {
                console.log("ddd");
                commentEditDiv.style.display = 'none';
            }

            console.log("pppp"+$(obj).parent().parent().next().next().text());
            const commentId = $(obj).next().next().text();
            console.log("xx" + commentId);

            const form = document.getElementById('commentEditForm');
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'commentId';
            input.value = commentId;
            form.append(input);
        }

        function addCommentReply(obj) {

            const textarea = document.getElementById('replyContent').value;
            const replaceAll = textarea.replaceAll(' ', '');
            if (replaceAll.length === 0) {
                alert("답글내용입력하세요")
            } else {
                obj.form.submit();
            }
        }


        function addComment(obj) {
            const textarea = document.getElementById('commentContent').value;
            const replaceAll = textarea.replaceAll(' ', '');
            if (replaceAll.length === 0) {
                confirm("댓글 내용을 입력하세요");
            } else {
                obj.form.submit();
            }
        }

        function addCartSubmit() {
            if (confirm("장바구니에추가하시겠습니까")) {
                return true;
            } else {
                return false;
            }
        }

        function download(fileListId) {
            const form = document.createElement('form');
            form.method = 'post';
            form.action = '/download';
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'fileListId'
            input.value = fileListId;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }

        function btnLike() {
            const memberCash = [[${memberCash}]];
            const likeCount = [[${likeCount}]];
            const musicListId = [[${musicList.Id}]];
            if (memberCash == -1) {
                if (confirm("추천하려면로그인하세요")) {
                    document.location.href = "/login";
                }
            } else if (likeCount == 1) {
                alert('아이디당1개추천만가능합니다')
            } else {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '/likeCount';
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'musicListId'
                input.value = musicListId;
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            }
        }

        function musicListDeleteSubmit() {
            if (confirm("삭제하시겠습니까")) {
                return true;
            } else {
                return false;
            }
        }

        function btnNo(obj) {
            const elementById = document.getElementById(obj);
            elementById.style.display = 'none';

        }

        function cartAddBtn() {
            if (confirm("장바구니추가하시겠습니까")) {
                document.location.href = "/login";
            } else {
                return false;
            }
        }

        function btnBuy() {
            const musicListId = [[${musicList.Id}]];
            const memberCash = [[${memberCash}]];
            const musicPrice = [[${musicList.price}]];
            if (memberCash == -1) {
                if (confirm("구매하시려면로그인하시겠습니까")) {
                    const form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/buyMusicList';
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'musicListId'
                    input.value = musicListId;
                    form.appendChild(input);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    return false;
                }
            } else if (memberCash >= musicPrice) {
                if (confirm("정말구매하시겠습니까")) {
                    const form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/buyMusicList';
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'musicListId'
                    input.value = musicListId;
                    form.appendChild(input);
                    document.body.appendChild(form);
                    form.submit();
                } else {
                    return false;
                }
            } else if (memberCash < musicPrice) {
                if (confirm("잔액이부족합니다충전하시겠습니까")) {
                    document.location.href = "/myInfo";
                } else {
                    return false;
                }
            }
        }

        function buyBtnClick() {
            const buyDiv = document.getElementById('buy_div');
            const cartDiv = document.getElementById('cart_div');
            if (buyDiv.style.display === 'none') {
                cartDiv.style.display = 'none';
                buyDiv.style.display = 'inline';
            }
        }

        function cartBtnClick() {
            const buyDiv = document.getElementById('buy_div');
            const cartDiv = document.getElementById('cart_div');
            if (cartDiv.style.display === 'none') {
                buyDiv.style.display = 'none';
                cartDiv.style.display = 'inline';
            }
        }

        function updateBtnClick() {
            const updateDiv = document.getElementById('update_div');
            const delete_div = document.getElementById('delete_div');
            if (updateDiv.style.display === 'none') {
                delete_div.style.display = 'none';
                updateDiv.style.display = 'inline';
            }
        }

        function deleteBtnClick() {
            const updateDiv = document.getElementById('update_div');
            const delete_div = document.getElementById('delete_div');
            if (delete_div.style.display === 'none') {
                updateDiv.style.display = 'none';
                delete_div.style.display = 'inline';
            }
        }

    </script>
</html>