<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('home')}"/>

<div class="container" th:object="${musicList}" style="height: 1000px; margin-top: 20px;">

    <ul style="font-size: large">
        <li>제목 <p th:text="*{title}"></p></li>
        <li>만든이 <p th:text="*{memberNickname}"></p></li>
        <li>가격 <p th:text="*{price}"></p></li>
        <li>등록일 <p th:text="*{localDateTime}"></p></li>
        <li>내용 <p style="white-space: pre-line" th:text="*{content}"></p></li>
        <li>첨부파일
            <div style="max-height: 150px; overflow: auto">
                <table th:if="${sellBuyList} or ${#strings.equals(loginId,musicList.loginId)}">
                    <tr th:each="fileList : ${fileList}">
                        <td>
                            <a th:href="|/download/${fileList.id}|" th:text="${fileList.originalFilename}"></a>
                        </td>
                    </tr>
                </table>
            </div>

        </li>
    </ul>

    <div th:if="${sellBuyList==null} and ${!#strings.equals(loginId,musicList.loginId)}">
        <button onclick="buyBtnClick()"
                type="button" class="btn btn-primary btn-lg">구매하기
        </button>
        <button onclick="cartBtnClick()"
                type="button" class="btn btn-primary btn-lg">장바구니
        </button>
    </div>

    <div th:if="${sellBuyList!=null}">
        <button type="button" class="btn btn-primary btn-lg">구매한상품입니다</button>
    </div>

    <div th:if="${#strings.equals(loginId,musicList.loginId)}">
        <button onclick="updateBtnClick()"
                type="button" class="btn btn-primary btn-lg">수정하기
        </button>
        <button onclick="deleteBtnClick()"
                type="button" class="btn btn-primary btn-lg">삭제하기
        </button>
    </div>

    <div id='buy_div' style="display: none">
        <form style="margin-top: 20px;">
            <h1>구매하시겠습니까</h1>
            <button type="button" class="btn btn-lg btn-primary"
                    th:onclick="|location.href='@{/buyMusicList (musicListId=${musicList.id}) }'|">Yes
            </button>
        </form>
    </div>

    <div id='cart_div' style="display: none">
        <form style="margin-top: 20px">
            <h1>장바구니담으시겟습니까</h1>
            <button type="button" class="btn btn-lg btn-primary">Yes</button>
        </form>
    </div>

    <div id='update_div' style="display: none">
        <form style="margin-top: 20px" method="post" th:action="@{/editMusicList}">
            <h1>수정하시겠습니까</h1>
            <button type="submit" th:name="musicListId" th:value="${musicList.id}"
                    class="btn btn-lg btn-primary">Yes
            </button>
        </form>
    </div>

    <div id='delete_div' style="display: none">
        <form style="margin-top: 20px" id="delete_form" method="post"
              th:action="@{/deleteMusicList}" onsubmit="return deleteSubmit()">
            <h1>삭제하시겟습니까</h1>
            <button type="submit" th:name="musicListId" th:value="${musicList.id}" class="btn btn-lg btn-primary">Yes
            </button>
        </form>
    </div>
    <script type="text/javascript">

        function deleteSubmit() {
            if (confirm("삭제하시겠습니까")) {
                return true;
            } else {
                return false;
            }
        }

        function buyBtnClick() {
            const buyDiv = document.getElementById('buy_div');
            const cartDiv = document.getElementById('cart_div');
            if (buyDiv.style.display === 'none') {
                cartDiv.style.display = 'none';
                buyDiv.style.display = 'inline';
            }
        }

        function cartBtnClick() {
            const buyDiv = document.getElementById('buy_div');
            const cartDiv = document.getElementById('cart_div');
            if (cartDiv.style.display === 'none') {
                buyDiv.style.display = 'none';
                cartDiv.style.display = 'inline';
            }
        }

        function updateBtnClick() {
            const updateDiv = document.getElementById('update_div');
            const delete_div = document.getElementById('delete_div');
            if (updateDiv.style.display === 'none') {
                delete_div.style.display = 'none';
                updateDiv.style.display = 'inline';
            }
        }

        function deleteBtnClick() {
            const updateDiv = document.getElementById('update_div');
            const delete_div = document.getElementById('delete_div');
            if (delete_div.style.display === 'none') {
                updateDiv.style.display = 'none';
                delete_div.style.display = 'inline';
            }
        }

    </script>
</div>
<div th:replace="~{fragments/footer :: footer}"/>

</html>