<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('addItem')}"/>
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<div style="height: 1000px; margin-top: 20px">
    <form class="w-50 container" enctype="multipart/form-data"
          method="post" action="/updateMusicListComplete" id="addForm" onsubmit="return updateSubmit()"
          th:object="${musicListFormDto}">

        <label style="margin-top: 10px" for="title" class="form-label">제목 입력하세요</label>
        <label class="field-error" style="margin-left: 200px"
               th:if="${errors?.containsKey('title')}" th:text="${errors['title']}">오류메세지</label>
        <input type="text" class="form-control" id="title" name="title" th:field="*{title}"placeholder="제목">
        <label style="margin-top: 10px" class="form-label">악기타입 입력하세요</label>
        <label class="field-error" style="margin-left: 200px"
               th:if="${errors?.containsKey('type')}" th:text="${errors['type']}">오류메세지</label>
        <select class="form-select" id="type" name="type" th:field="*{type}">
            <option value="">악기선택</option>
            <option value="피아노" id="piano">피아노</option>
            <option value="기타" id="guitar">기타</option>
            <option value="드럼" id="drum">드럼</option>
        </select>

        <label style="margin-top: 10px" class="form-label">난이도 입력하세요 </label>
        <label class="field-error" style="margin-left: 200px"
               th:if="${errors?.containsKey('level')}" th:text="${errors['level']}">오류메세지</label>
        <select class="form-select" id="level" name="level" th:field="*{level}">
            <option value="" selected>난이도선택</option>
            <option value="어려움" id="3">어려움</option>
            <option value="보통" id="2">보통</option>
            <option value="쉬움" id="1">쉬움</option>
        </select>

        <label style="margin-top: 10px" class="form-label">가격 입력하세요 </label>
        <label class="field-error" style="margin-left: 200px"
               th:if="${errors?.containsKey('price')}" th:text="${errors['price']}">오류메세지</label>
        <input type="number" min="0" max="2147483647" class="form-control" id="price" name="price" placeholder="가격"
               th:field="*{price}">
        <label for="price" class="text-start field-error"></label>


        <label style="margin-top: 10px" class="form-label">pdf 악보 올리기</label>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td>파일명</td>
                    <td>삭제</td>
                </tr>
                <tbody >
                <tr th:each="fileList : ${fileList}">
                    <td th:text="${fileList.originalFilename}"></td>
                    <td><button class="btn-primary">삭제</button></td>
                </tr>
                </tbody>
            </table>


            <input class="form-control" type="file" multiple="multiple" id="pdfFiles" name="pdfFiles">

        </div>

        <label style="margin-top: 10px" class="form-label">내용을 입력하세요</label>
        <textarea class="form-control" id="content" name="content" rows="15"
                  th:field="*{content}"></textarea>
        <label for="content" class="text-start field-error"></label>


        <div class="text-center" style="margin-top: 30px">
            <button type="submit" class="btn btn-primary mb-3"
                    th:name="musicListId" th:value="${musicList.id}">수정하기</button>
            <a href="/" class="btn btn-primary mb-3">취소</a>
        </div>

    </form>

</div>

<script>
    function updateSubmit() {
        if (confirm("등록하시겠습니까")) {
            return true;
        } else {
            return false;
        }
    }
</script>


</div>

<div th:replace="~{fragments/footer :: footer}"/>

</html>