<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('home')}"/>
<style>
   .table_color:hover {
       background-color: lightgray;
   }
</style>
<body>
<div>
    <div class="container">
        <form class="row g-2" style="margin-top: 20px">
            <div class="col-auto">
                <select class="form-select">
                    <option selected>정렬선택</option>
                    <option>낮은가격순</option>
                    <option>높은가격순</option>
                    <option>악보제목순</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">확인</button>
            </div>
        </form>

        <div style="height: 700px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>곡제목</th>
                    <th>만든이</th>
                    <th>악기</th>
                    <th>난이도</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody >
                <tr class="table_color" th:each="musicList, loop : ${paging}"
                    th:onclick="|location.href='@{/content (musicListId=${musicList.id}) }'|">
                    <td th:text="${musicList.id}"></td>
                    <td th:text="${musicList.title}"></td>
                    <td th:text="${musicList.memberNickname}"></td>
                    <td th:text="${musicList.type}"></td>
                    <td th:text="${musicList.level}"></td>
                    <td th:text="${musicList.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>

            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${start == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${start -1}|}"> << </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number -1}|}"> < </a>
                </li>
                <li class="page-item" th:classappend="${page == paging.number} ? 'active'"
                    th:each="page : ${#numbers.sequence(start, end)}">
                    <a class="page-link" th:text="${page+1}" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}"> > </a>
                </li>
                <li class="page-item" th:classappend="${paging.getTotalPages() < end} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${start+7}|}"> >> </a>
                </li>
            </ul>

        <form class="row g-2 justify-content-center" style="margin-bottom: 154px">
            <div class="col-auto">
                <select class="form-select">
                    <option selected>제목검색</option>
                    <option>글작성자</option>
                </select>
            </div>
            <div class="col-3">
                <input type="search" class="form-control" placeholder="악보를 검색하세요" aria-label="Search">
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">확인</button>
            </div>
        </form>

    </div>
</div>
</body>
<div th:replace="~{fragments/footer :: footer}"/>
</html>