<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('home')}"/>

<body>
<div>
    <div class="container">
        <form class="row g-2" style="margin-top: 20px">
            <div class="col-auto">
                <select class="form-select">
                    <option selected>정렬선택</option>
                    <option>낮은가격순</option>
                    <option>높은가격순</option>
                    <option>악보제목순</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">확인</button>
            </div>
        </form>

        <div style="height: 700px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>곡제목</th>
                    <th>만든이</th>
                    <th>악기</th>
                    <th>난이도</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="musicList, loop : ${paging}">
                    <td th:text="${musicList.id}"></td>
                    <td th:text="${musicList.title}"></td>
                    <td th:text="${musicList.memberName}"></td>
                    <td th:text="${musicList.type}"></td>
                    <td th:text="${musicList.level}"></td>
                    <td th:text="${musicList.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${start==0} ? 'disabled'">
                <a class="page-link" th:href="@{/ (page=${end -7}, start=${start -7}, end=${end -7})}">이전</a>
            </li>

            <li th:each=" page: ${#numbers.sequence(start, end)}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">

                <a th:text="${page.intValue()+1}" class="page-link"
                   th:href="@{/ (page=${page}, start=${start}, end=${end})}"></a>
            </li>

            <li class="page-item" th:classappend="${end>=paging.getTotalPages()-1} ? 'disabled'">
                <a class="page-link" th:href="@{/ (page=${start+7}, start=${start+7}, end=${end+7})}">다음</a>
            </li>
        </ul>

        <form class="row g-2 justify-content-center" style="margin-bottom: 154px">
            <div class="col-auto">
                <select class="form-select">
                    <option selected>제목검색</option>
                    <option>글작성자</option>
                </select>
            </div>
            <div class="col-3">
                <input type="search" class="form-control" placeholder="악보를 검색하세요" aria-label="Search">
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">확인</button>
            </div>
        </form>

    </div>
</div>
</body>
<div th:replace="~{fragments/footer :: footer}"/>
</html>