<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>

    function buySubmit(musicListId, musicListPrice, memberCash, cartId){
        if (confirm("구매하시겠습니까")) {
            if (memberCash >= musicListPrice){
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '/cartBuy';
                const input = document.createElement('input');
                const input1 = document.createElement('input');
                input.type = 'hidden';
                input.name = 'musicListId'
                input.value = musicListId;
                input1.type = 'hidden';
                input1.name = 'cartId'
                input1.value = cartId;
                form.appendChild(input);
                form.appendChild(input1)
                document.body.appendChild(form);
                form.submit();
            } else{
                if (confirm('잔액이부족합니다충전하시겠습니까')){
                    document.location.href = "/myInfo";
                }
            }

        } else {
            return false;
        }

    function checkAll(selectAll){
        const check = document.getElementsByName('check');
        const btnTotal = document.getElementById('btnTotal');
        total = 0;
        check.forEach((check, i) =>{
            check.checked = selectAll.checked;

            if (check.checked){

                if (i > 0){
                    const row = $(check).parent().parent().get(0);
                    const innerText = row.cells[8].innerText;
                    const price = parseInt(innerText);
                    total = total + price;
                    console.log(typeof(innerText), innerText);
                    console.log(total);
                    btnTotal.innerText = "합계 = " + total + "원";
                }
            }else{
                total = 0;
                btnTotal.innerText = "합계 = " + total + "원";
            }

        })
</script>
</body>
</html>