<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"/>
<div th:replace="~{fragments/header :: header ('myInfo')}"/>
<style>
    .field-error{
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<div class="container" style="height: 1020px; margin-top: 20px">

    <button class="btn btn-lg btn-primary">닉네임 변경</button>

    <div>

        <div id='changeNickname'>
            <form style="margin-top: 20px;" method="post" action="/myInfoEdit" onsubmit="return changeNickname()">
                <lebel>변경할닉네임</lebel>
                <input type="text" name="nickname" />
                <button type="submit">변경하기</button>
                <lebel class="field-error" th:if="${errors?.containsKey('nickname')}" th:text="${errors['nickname']}"></lebel>
            </form>
        </div>
    </div>

    <ul style="font-size: large; margin-top: 20px;" th:if="${member}">
        <li>보유 캐시 <p th:text="${member.cash}"></p></li>
        <li>총 판매금액 <p th:text="${member.revenue}"></p></li>
        <li>아이디 <p th:text="${member.loginId}"></p></li>
        <li>닉네임 <p th:text="${member.nickname}"></p></li>

    </ul>

    <button class="btn btn-lg btn-primary">가상머니충전</button>

    <div id='addCash'>
        <form style="margin-top: 20px;" method="post" action="/addCash" onsubmit="return addCashForm()">
            <lebel>충전금액</lebel>
            <input type="number" min="0" name="cash"/>
            <button type="submit">충전하기</button>
            <label class="field-error" th:if="${errors?.containsKey('cash')}" th:text="${errors['cash']}"></label>
        </form>
    </div>

    <script type="text/javascript">

        function changeNickname(){
            if (confirm("변경하시겠습니까")) {
                return true;
            } else {
                return false;
            }
        }

        function addCashForm() {
            if (confirm("충전하시겠습니까")) {
                return true;
            } else {
                return false;
            }
        }
    </script>



</div>
<div th:replace="~{fragments/footer :: footer}"/>
</html>